* {
    background-color: black;
}

header h1 {
    font-size: 60px;
    color: black;
    background-color: green;
    margin: auto auto;
    text-align: center;
    outline: 1rem solid green;
}

/* Table Styles */

table {
    max-width: 85%;
    margin: 10px auto;
    background-color: gray;
    color: white;
}
td {
    background-color: black;
    color: white;
}


table, tr, td {
    border: 3px solid gray;
    padding: 2px;
    text-align: center;
    z-index: 4;

    
}

td.code {
    font-family: monospace;
    background-color: black;
}


/* Table Headers or table names */
.table-header {
    padding: 1% 1%;
    display: flexbox;
    background-color: green;
    width: auto;
    height: auto;
    
    justify-content: center;
}

.table-header h2 {

background-color: green;
color: black;
font-size: 60px;
justify-items: center;
align-items: center;
text-align: center;
}

.table-header h3 {
    background-color: green;
    color: black;
    font-size: 40px;
    justify-items: center;
    text-align: center;
}

/* Navigation */

nav {
    background-color: green;
    font-size: 1.5rem;
}

thead {
    background-color: gray;
}

.navigation{
    background-color: green;
}